$font-base: "HelveticaNeueCyr", Arial, "Open Sans", sans-serif;
$font-title: "Recoleta", Arial, "Open Sans", sans-serif;

$fs-big: 4.625rem;
$fs-title: 3.375rem;
$fs-big-title-mobile:3.125rem;
$fs-subtitle: 3rem;
$fs-mobile:2.5rem;
$fs-subsubtitle:2rem;
$fs-remark: 1.5rem;
$fs-base:1.25rem;
$fs-base-mobile: 1.125rem;
$fs-text: 1rem;
$fs-link:0.9375rem;
$fs-small: 0.875rem;
$fs-smaller: 0.75rem;




