$font-base: "HelveticaNeueCyr", Arial, "Open Sans", sans-serif;
$font-title: "Recoleta", Arial, "Open Sans", sans-serif;

$fs-big: 74px;
$fs-title: 54px;
$fs-subtitle: 2rem;
$fs-big-title-mobile:50px;
$fs-mobile:40px;
$fs-title-footer:32px;
$fs-subsubtitle:48px;
$fs-head: 15px;
$fs-remark: 24px;
$fs-base: 20px;
$fs-base-mobile: 18px;
$fs-link:15px;
$fs-text: 16px;
$fs-small: 14px;
$fs-smaller: 12px;


