.el-link-border{
    padding: .8125rem 2.3rem;
    box-shadow: inset 0 0 0 0.0625rem rgba(36,28,21,.4);
    text-decoration: none;
    color: $c-brand;
    font-weight: 700;
    &:hover {
        box-shadow: inset 0 0 0 0.0625rem rgb(36,28,21);
    }
}    