.c-content {
    &__icons {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.125rem;
        flex-wrap: wrap;
        &-link {
            display: block;
        }
    }
    &__list {
        list-style-type: none;
        margin-bottom: 3.125rem;

        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: $font-title;
            font-size: $fs-remark;
            color: $c-brand;

            &:hover .c-content__list-arrow{
                margin-left: 25px;
            }
            

            &:hover {
                color: $c-link; 
            }
        }

        &-arrow {
            position: relative;
            display: inline-block;
            height: 1px;
            width: 20px;
            background-color: $c-link;
            margin-left: 10px;

            &::after {
                content: ' ';
                position: absolute;
                height: 1px;
                width: 7px;
                background-color: $c-link;
                right: -1px;
                top: -2.4px;
                transform: rotate(45deg);
            }

            &::before {
                content: ' ';
                position: absolute;
                height: 1px;
                width: 7px;
                background-color: $c-link;
                right: -1px;
                top: 2.4px;
                transform: rotate(-45deg);
            }

        }
    }
    &__link {
        display: flex;
    }

    @include media-breakpoint-down(lg) {
        &__icons {
            justify-content: flex-start;
            &-item {
                width: 17%;
                padding-right: 1rem;
                &:last-child{
                    padding-right: 0; 
                }
            }
        }
    }
    
    @include media-breakpoint-down(xsm) {
        &__list {
            &-link {
                flex-wrap: wrap;
                margin-bottom: 0.5rem;
            }
            &-arrow {
                margin-top: 0.5rem;
            }
        }
        &__icons {
            flex-wrap: wrap;
            &-item {
                width: 33%;
            }
        }
    }
}