.c-header {
  background-color: $c-yellow;
  display: flex;

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.875rem 0rem;
  }

  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      display: flex;
      list-style-type: none;

      &-item {
        margin-right: 0.625rem;
      }

      &-svg {
        color: $c-brand;
        font-size: 6px;
      }

      &-link {
        text-decoration: none;
        color: $c-brand;
        font-size: $fs-head;
      }
    }

    &__logo {
      margin: 0.25rem 1.125rem 0 0;
      &-svg {
        fill: $c-white;
        stroke: $c-black;
        width: 200px;
        height: 70px;
      }
    }
  }

  &-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__loup {
      margin-right: 20px;
      &-svg {
        font-size: $fs-remark;
        color: $c-brand;
        &:hover {
          color: $c-link;
        }
      }
    }
  }
}
