<header class="c-header">
	<div class="c-header-bar">
		<div class="c-header__logo"></div>
		<nav class="c-header-nav">
			<ul class="c-header-list">
				<li class="c-header-list__item">
					<a href="#" class="c-header-list-link">Why Mailchimp?</a>
				</li>
				<li class="c-header-list__item">
					<a href="#" class="c-header-list-link">Marketing Platform</a>
				</li>
				<li class="c-header-list__item">
					<a href="#" class="c-header-list-link">Pricing</a>
				</li>
				<li class="c-header-list__item">
					<a href="#" class="c-header-list-link">Resources</a>
				</li>
			</ul>
		</nav>

		<div class="c-header__loup"></div>

		<a href="#" class="e-link-border">Log In
		</a>

		<a href="#" class="e-link-background">Sign Up Free
		</a>
	</div>
</header>
