<header class="c-header">
	<div class="c-header-wrapper">
		<div class="c-header-bar">
			<div
				class="c-header-bar__logo">
				{# <svg class="c-header-bar__logo-svg">
																	<use xlink:href="#ic-logo"></use>
																</svg> #}
				<img src="/images/logo.svg" alt="mailchimp logo">
			</div>
			<nav class="c-header-bar__nav">
				<ul class="c-header-bar__list">
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Why Mailchimp?</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Marketing Platform
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</svg>
						</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Pricing</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Resources
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</use>
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="c-header-links">
			<button class="c-header-links__loup">
				<span class="el-icon__svg c-header-links__loup-svg">
					<svg class="el-icon">
						<use xlink:href="#ic-loup"></use>
					</svg>
				</span>
			</button>
			<a href="#" class="el-link-border">Log In</a>
			<a href="#" class="el-link-background">Sign Up Free
			</a>
		</div>

	</div>

	<div class="c-header-banner">
		<div class="c-header-banner__content">
			<div class="el-content">
				<h1 class="el-content__headline">Your business is growing. Now what?
				</h1>

				<p class="el-content__paragraph">
					Get Mailchimp's all‑in‑one Marketing Platform to help you reach your goals faster. That's what.
				</p>

				<a href="#" class="el-content__link">Sign Up
				</a>


			</div>
		</div>
	</div>
</header>
