<header class="c-header">
	<div class="c-header-wrapper">
		<div class="c-header-bar">
			<a href="#" class="c-header-bar__logo">
				<img src="/images/logo.svg" alt="mailchimp logo">
			</a>
			<nav class="c-header-bar__nav js-nav">
				<ul class="c-header-bar__list">
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Why Mailchimp?</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Marketing Platform
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</svg>
						</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Pricing</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Resources
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="c-header-links">
			<button class="c-header-links__loup">
				<span class="el-icon c-header-links__loup-svg">
					<svg class="el-icon__svg">
						<use xlink:href="#ic-loup"></use>
					</svg>
				</span>
			</button>
			<a href="#" class="el-link-border">Log In</a>
			<a href="#" class="el-link-background">Sign Up Free
			</a>
		</div>
		
		<button type="button" class="c-header__toggle js-menu-btn">
			<span class="c-header__toggle-line"></span>
			<span class="visually-hidden">
				toggle mobile menu
			</span>
		</button>

	</div>
</header>

