<header class="c-header ">
	<div class="c-header-wrapper">

		<a href="#" class="c-header-bar__logo">
			<img src="/images/logo.svg" alt="mailchimp logo">
		</a>
		<div class="c-header-bar js-navigation">
			<nav class="c-header-bar__nav ">
				<ul class="c-header-bar__list">
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Why Mailchimp?</a>
					</li>
					<li class="c-header-bar__list-item">
						<button class="c-header-bar__list-button">Marketing Platform
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</svg>
						</button>
						<ul class="c-header-bar__sublist">
							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/4avRba05kb9SgSkG8HEVfk/23306132d432030228c0b491fca1c278/ILLO_NavIcon_Overview_800x800__1_.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
											Overview
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<p class="c-header-bar__sublist2-description">
											All the tools you need to market smarter and grow faster.
										</p>
									</li>
								</ul>
							</li>

							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/1oD4nQBTGDeziOzHoBci8R/1bbdbcfef4dbb66b1838d8d0d7ea321a/ILLO_NavIcon_Audience_800x800__1_.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Audience
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Marketing CRM
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Audience Dashboard
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Tags
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Segmentation
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Behavioral Targeting
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Lookalike Audiences
										</a>
									</li>
								</ul>
							</li>

							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/2MoVdgX5dY0w2Q4uoEyY6m/665eb21bae3cea19b81c882538b1a2e5/ILLO_Nav-Icon_Create_130.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Brand
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Content Studio
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Templates
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Domains
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Websites
											<span class="c-header-bar__sublist2-badge">Beta</span>
										</a>
									</li>
								</ul>
							</li>

							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/7LI3GuaHosUtWmdXvXCteU/022b3f96948ed2a899cd39426561e5a6/ILLO_NavIcon_Campaigns_800x800.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Campaigns
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Email
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Social Media
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Landing Pages
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Digital Ads
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Postcards
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Automations
										</a>
									</li>
								</ul>
							</li>

							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/6JAitUdBUQkMOKU4aIYYCc/6818a3595ab12ce907655ae148cab6af/ILLO_Nav-Icon_Resources_130-1.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Insights
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Reports & Analytics
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Smart Recommendations
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											Integrations
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Pricing</a>
					</li>

					<li class="c-header-bar__list-item">
						<button href="#" class="c-header-bar__list-button">Resources
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</svg>
						</button>
						<ul class="c-header-bar__sublist">
							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/uTsyNo5C3QKgGkwQIeCsi/4be3cf4926867d998531fce512743ba8/ILLO_Nav-Icon_What-You-Can-Do_130.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
											Overview
										</a>
									</li>
								</ul>
							</li>

							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/4RjYTaYssUs4eCu6EmSGME/4646e625b0da8152505c3ea1f424501d/ILLO_Nav-Icon_Mailchimp101_130.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Mailchimp 101    
    
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<p class="c-header-bar__sublist2-description">
											Everything you need to get started    
										</p>
									</li>
								</ul>
							</li>

							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/1riO0pLlS8gCmmcecm86IC/3f547e8a1cebd7ca304eeaa24d921fe1/ILLO_Nav-Icon_Marketing-Tips_130.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Marketing Tips    
    
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<p class="c-header-bar__sublist2-description">
											Learn how to master marketing    
										</p>
									</li>
								</ul>
							</li>


							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/5oMTtAn6EwoiUK0eKWEi4w/fae49e5a17b191deb24678f661f7ad83/ILLO_Nav-Icon_Guides-Tutorials_130.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Guides & Tutorials
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<p class="c-header-bar__sublist2-description">
											
											Get step-by-step help with Mailchimp    
										</p>
									</li>
								</ul>
							</li>

							<li class="c-header-bar__sublist-item">
								<ul class="c-header-bar__sublist2">
									<li class="c-header-bar__sublist2-item">
										<a href="#" class="c-header-bar__sublist2-link">
											<img src="https://eep.io/images/yzco4xsimv0y/635V2qAs4g4wOr6lglu3mT/c186f38761d1cd415f745fb4fd0b9fb4/MCP-NavIcon-1.png?w=60&q=95"
												alt="" class="c-header-bar__sublist2-img">
												Mailchimp Presents
										</a>
									</li>
									<li class="c-header-bar__sublist2-item">
										<p class="c-header-bar__sublist2-description">
											Entertainment made for entrepreneurs
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</nav>

			<div class="c-header-links ">
				<button class="c-header-links__search">
					<span class="el-icon c-header-links__search-svg">
						<svg class="el-icon__svg">
							<use xlink:href="#ic-loup"></use>
						</svg>
					</span>
					<span class="c-header-links__search-text">
						Search Mailchimp
					</span>
				</button>
				<a href="#" class="c-header-links__border">Log In</a>
				<a href="#" class="c-header-links__background">Sign Up Free
				</a>
			</div>
		</div>

		<a href="#" class="c-header-links__background c-header-links__background--hidden">Sign Up Free</a>

		<button type="button" class="c-header__toggle js-menu-btn">
			<span class="c-header__toggle-line"></span>
			<span class="visually-hidden">
				toggle mobile menu
			</span>
		</button>

	</div>
</header>