<header class="c-header">
	<div class="c-header-wrapper">

		<div class="c-header-bar">
			<div class="c-header-bar__logo">
				<svg class="c-header-bar__logo-svg">
					<use xlink:href="#ic-logo"></use>
				</svg>
			</div>
			<nav class="c-header-bar__nav">
				<ul class="c-header-bar__list">
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Why Mailchimp?</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Marketing Platform
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</svg>
						</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Pricing</a>
					</li>
					<li class="c-header-bar__list-item">
						<a href="#" class="c-header-bar__list-link">Resources
							<svg class="el-icon c-header-bar__list-svg">
								<use xlink:href="#ic-arrow"></use>
							</use>
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="c-header-links">
			<div class="c-header-links__loup">
				<span class="el-icon__svg c-header-links__loup-svg">
					<svg class="el-icon">
						<use xlink:href="#ic-loup"></use>
					</svg>
				</span>
			</div>
			<a href="#" class="e-link-border">Log In</a>

			<a href="#" class="e-link-background">Sign Up Free
			</a>
		</div>
	</header>
