.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic-arrow {
  width: 7.061px;
  height: 4.591px;
}
.icon-ic-logo {
  width: 188px;
  height: 60px;
}
.icon-ic-loup {
  width: 50px;
  height: 50px;
}
