.s-columns {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        &--reverse {
            flex-direction: row;
        }
    }

    &__content {
        width: 50%;
        padding-left: .625rem;
        &--padding {
            padding-left: 8.95833%;
        }
        &--padding-r {
            padding-right: 8.95833%;
        }
        &--width {
            width: 36%;
        }
    }

    &__media {
        max-width: 50%;
        max-height: 500px;

        &-video {
            height: 100%;
            width: 100%;
            padding-right: 8.95833%;

            &--reverse {
                padding-right: 0;
                padding-left: 8.95833%;
            }
            &--reverse-no-padding {
                padding-right: 0;
                padding-left: 0;
            }
        }

        &-img {
            height: 100%;
            width: 100%;
            padding-right: 0.625rem;

        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: 6.25rem;
        margin-bottom: 6.25rem;

        &__wrapper {
            flex-direction: column-reverse;
            padding-left: 10%;
            padding-right: 10%;
        }

        &__content {
            width: 100%;
            padding-left: 0;
        }

        &__media {
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 2.5rem;

            &-video {
                padding-right: 0;
                padding-left: 0;

                &--reverse {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: 5rem;
        margin-bottom: 5rem;


        &__wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        &__media {
            max-width: 100%;
            max-height: 100%;

            &-video {
                &--reverse {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }
}