.s-grid {
    padding-top: 7.5rem;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    
    @include media-breakpoint-down(lg) {
        padding-top: 6.25rem;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 5rem;
    }
}