{% extends "./layout/base.twig" %}
{% set pageName = 'home' %}

{% block body %}
<div class="s-banner">
	<div class="l-container">
		<div class="s-banner__wrapper">
			<div class="s-banner__content">
				<h1 class="el-title">
					Built to help you grow your own way
				</h1>

				<p class="el-description el-description--bigger">
					We know what it’s like to start small with big ideas.
					That’s why we support millions of customers across every
					stage of their own business journeys.
				</p>

				<div class="btn">
					<a href="#" class="btn-green">Pick A Plan
					</a>
				</div>
			</div>

			<figure class="s-banner__media">
				<img src="https://eep.io/images/yzco4xsimv0y/3IdcmkeaZRgxfiY7XyXiGo/603d7ed57581959fe93b713c12fac29d/Why_Mailchimp_Hero_Img.png?w=760&q=95"
					alt="A trumpet man and his band of cohorts. These people have spunk. No question about it"
					class="s-banner__media-img">
			</figure>
		</div>
	</div>
</div>


<div class="s-columns">
	<div class="l-container">
		<div class="s-columns__wrapper">
			<div class="s-columns__content s-columns__content--padding">
				<div class="c-content">
					<h3 class="el-subsubtitle el-subsubtitle--align-left">
						All your marketing needs in one place
					</h3>
					<p class="el-description el-description--smaller el-description--smaller--left">
						Bring your audience data, marketing channels,
						and insights together so you can reach your goals faster.
						With Mailchimp, you can promote your business across email, social,
						landing pages, postcards, and more — all from a single platform.
					</p>

					<hr class="c-content__line">

					<blockquote class="el-subsubtitle el-subsubtitle--gray">
						"With Mailchimp, we can see what messaging worked
						for email, what worked for ads, and very easily apply
						those learnings because everything is in one place."
					</blockquote>

					<figure class="c-content__media">
						<img alt="" class="c-content__media-img"
							src="https://eep.io/images/yzco4xsimv0y/3lrFM1GcqQyggA2SYA6si8/94ba74c9d4c65c08d063d5b51fb6ad50/simply-gum-logo.png?w=110&q=95">
					</figure>

					<div class="btn">
						<a href="#" class="btn-light">
							See what you can do
						</a>
					</div>

				</div>
			</div>

			<figure class="s-columns__media s-columns__media--width">
				<img class="s-columns__media-video"
					src="https://eep.io/images/yzco4xsimv0y/2G9IeeLC6cjeDyWQyWy6v1/5f753628367d8e37002a93a088a52927/JazzBand_spot.gif?w=760&q=95"
					alt="">
			</figure>
		</div>
	</div>
</div>

<div class="s-center s-center--background">
	<div class="l-container">
		<div class="s-center__content s-center__content--width">
			<h2 class="el-title el-title--center">
				Our powerhouse Support team won 4 Gold Stevie Awards in 2020.
			</h2>

			<a href="#" class="el-link">
				Learn about our award-winning team.
			</a>
		</div>
	</div>
</div>


<div class="s-grid">
	<div class="l-container">
		<div class="s-grid__wrapper">
			<div class="el-item el-item--width">
				<figure class="el-item__media">
					<img class="el-item__media-img"
						src="https://eep.io/images/yzco4xsimv0y/uLcTR9FEZr055AQyF3LpG/e4b68f2a37aa755c19287dced655f013/ILLO_Icon_Payment_520x520.png?w=160&q=95"
						alt="">
				</figure>
				<h4 class="el-item__subheader">
					All-in-one pricing
				</h4>
				<p class="el-desciption el-description--smaller">
					Choose from 4 flexible plans that grow as you do.
				</p>
				<a href="#" class="el-link">Learn more</a>
			</div>

			<div class="el-item el-item--width">
				<figure class="el-item__media">
					<img class="el-item__media-img"
						src="https://eep.io/images/yzco4xsimv0y/7hkPCTVKO4SpnZTPBYcTOf/be9d9da5d68a7033aef74f389c820317/ILLO_Icon_Support-Elephant_520x520.png?w=160&q=95"
						alt="">
				</figure>
				<h4 class="el-item__subheader">
					Help when you need it
				</h4>
				<p class="el-desciption el-description--smaller">
					Count on our top-notch reliability and award-winning support.
				</p>
				<a href="#" class="el-link">Learn more</a>
			</div>
		</div>
	</div>
</div>

<div class="s-grid">
	<div class="l-container">
		<div class="s-grid__wrapper">
			<div class="el-item el-item--width">
				<figure class="el-item__media">
					<img class="el-item__media-img"
						src="https://eep.io/images/yzco4xsimv0y/5uzA0GcLxpn2PaFlP4RIz8/218f5481e4243e3cc14ab2d05be54d1a/ILLO_Icon_Connect_520x520.png?w=160&q=95"
						alt="">
				</figure>
				<h4 class="el-item__subheader">
					300+ app integrations
				</h4>
				<p class="el-desciption el-description--smaller">
					Connect all your tools to unlock more marketing features.
				</p>
				<a href="#" class="el-link">Learn more</a>
			</div>

			<div class="el-item el-item--width">
				<figure class="el-item__media">
					<img class="el-item__media-img"
						src="https://eep.io/images/yzco4xsimv0y/3R8l6YFKxD1ib7R30TLEQI/5d9ff30404aef92c7e9dccd00c1b5201/ILLO_Icon_Data-Protection-Umbrella_520x520.png?w=160&q=95"
						alt="">
				</figure>
				<h4 class="el-item__subheader">
					Industry compliance
				</h4>
				<p class="el-desciption el-description--smaller">
					Our tools make GDPR compliance simple and fast.
				</p>
				<a href="#" class="el-link">Learn more</a>
			</div>

			<div class="el-item el-item--width">
				<figure class="el-item__media">
					<img class="el-item__media-img"
						src="https://eep.io/images/yzco4xsimv0y/35gUO8p0ytjXnHiKanHuTv/95a1ed21e565e647d498ae4c1a7c945c/ILLO_Icon_Security-Turtle_520x520.png?w=160&q=95"
						alt="">
				</figure>
				<h4 class="el-item__subheader">
					Built-in security
				</h4>
				<p class="el-desciption el-description--smaller">
					Our security tools help protect your account—and your customers' data.
				</p>
				<a href="#" class="el-link">Learn more</a>
			</div>

		</div>
	</div>
</div>

<div class="s-columns">
	<div class="l-container">
		<div class="s-columns__wrapper">
			<div class="s-columns__content s-columns__content--padding ">
				<div class="c-content">
					<h3 class="el-subsubtitle el-subsubtitle--align-left">
						See what Mailchimp can do for you
					</h3>

					<p class="el-description el-description--smaller el-description--smaller--left">
						No matter your business type or experience level, we have features to help you understand your
						audience, reach them when it matters most, and get better as you go.
					</p>

					<ul class="c-content__list">
						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								E-commerce and retail
								<span class="c-content__list-arrow" aria-label="link arrow">

								</span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Mobile and web apps
								<span class="c-content__list-arrow" aria-label="link arrow">

								</span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Startups
								<span class="c-content__list-arrow" aria-label="link arrow">

								</span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Agencies
								<span class="c-content__list-arrow" aria-label="link arrow">

								</span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								New business
								<span class="c-content__list-arrow" aria-label="link arrow">

								</span>
							</a>
						</li>


						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Automations
								<span class="c-content__list-arrow" aria-label="link arrow">

								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<figure class="s-columns__media">
				<img class="s-columns__media-img"
					src="https://eep.io/images/yzco4xsimv0y/Knc1MIx95BHvzQK3EQwO4/beb0cbfb7b68933af45607496e1b5588/Why-MC-Rotating-Img.jpg?w=760&amp;q=95"
					alt>
			</figure>
		</div>
	</div>
</div>

<div class="s-columns">
	<div class="l-container">
		<div class="s-columns__wrapper s-columns__wrapper--reverse">
			<div class="s-columns__content s-columns__content--padding-r">
				<div class="c-content">
					<h3 class="el-subsubtitle el-subsubtitle--align-left">
						Put your people front and center
					</h3>

					<p class="el-description el-description--smaller el-description--smaller--left">
						Our marketing CRM helps you collect data about your contacts and turn those insights into
						action. With a holistic view of your audience, you can learn what they like and create campaigns
						that feel like conversations.
					</p>

					<div class="btn">
						<a href="#" class="btn-light">
							View CRM tools
						</a>
					</div>
				</div>
			</div>

			<figure class="s-columns__media">
				<img class="s-columns__media-img"
					src="https://eep.io/images/yzco4xsimv0y/54Tqqbzh5TkR3oMvz08wCh/932bdd7829cadca4fb86ad53a198cf8c/Why_MC_Abstract_UI_01.jpg?w=760&q=95"
					alt="">
			</figure>
		</div>
	</div>
</div>

<div class="s-columns">
	<div class="l-container">
		<div class="s-columns__wrapper">
			<div class="s-columns__content s-columns__content--padding">
				<div class="c-content">
					<h3 class="el-subsubtitle el-subsubtitle--align-left">
						Build campaigns in minutes
					</h3>
					<p class="el-description el-description--smaller el-description--smaller--left">
						We’ll help you get up and running with pre-built templates, ready-made segments, and 1-click
						automations. With our intuitive design tools, it’s easy to create beautiful campaigns that put
						your brand in the spotlight.
					</p>

					<hr class="c-content__line">

					<blockquote class="el-subsubtitle el-subsubtitle--gray">
						"Using Mailchimp’s marketing tools makes my life so easy, it saves me time, helps me create
						professional looking content, and allows me to market without a marketing degree."
					</blockquote>
					<figure class="c-content__media">
						<img alt="" class="c-content__media-img"
							src="https://eep.io/images/yzco4xsimv0y/7XB4rpcpPOPYNn8yOT4wi/33bb53de0c304e2dcb0ac6ab23bee3a8/17thStreetLogo.gif?w=110&q=95">
					</figure>


					<div class="btn">
						<a href="#" class="btn-light">
							See what you can do
						</a>
					</div>

				</div>
			</div>

			<figure class="s-columns__media">
				<video class="s-columns__media-video" data-behavior="autoplay" autoplay=""
					src="https://eep.io/videos/yzco4xsimv0y/3qd7ysXbMAZYZtYK11sEqh/f62126cd7b3d1d006cdebe39188952c1/WhyMC-AbstractUI-user-friendly-Animation.mp4">
				</video>
			</figure>
		</div>
	</div>
</div>

<div class="s-columns">
	<div class="l-container">
		<div class="s-columns__wrapper s-columns__wrapper--reverse">
			<div class="s-columns__content s-columns__content--padding-r">
				<div class="c-content">
					<h3 class="el-subsubtitle el-subsubtitle--align-left">
						Built‑in analytics so you can market smarter
					</h3>

					<p class="el-description el-description--smaller el-description--smaller--left">
						See what’s working and what isn’t with real-time performance reports for your campaigns. And get
						personalized recommendations and data-driven insights from a platform that gets smarter along
						the way.
					</p>

					<div class="btn">
						<a href="#" class="btn-light">
							Insights and reporting
						</a>
					</div>
				</div>
			</div>

			<figure class="s-columns__media   s-columns__media--reverse ">
				<video autoplay class="s-columns__media-video s-columns__media-video--reverse-no-padding"
					data-behavior="autoplay" autoplay
					src="https://eep.io/videos/yzco4xsimv0y/5oeqKAHEgWkrTvSi9rNQKd/66f955dcc721a8e12616a9e4617deef8/WhyMC-AbstractUI-audience-management-tools___animation.mp4">
				</video>
			</figure>
		</div>
	</div>
</div>

<div class="s-columns">
	<div class="l-container">
		<div class="s-columns__wrapper">
			<div class="s-columns__content s-columns__content--padding ">
				<div class="c-content">
					<h3 class="el-subsubtitle el-subsubtitle--align-left">
						Need inspiration? Start streaming
					</h3>

					<p class="el-description el-description--smaller el-description--smaller--left">
						Mailchimp Presents hosts a collection of short-form series, podcasts and films, including My
						Dear Kyrgyzstan. Before you start your next campaign, take a break and stream now.
					</p>

					<div class="btn">
						<a href="#" class="btn-light">
							Watch now
						</a>
					</div>

				</div>
			</div>

			<figure class="s-columns__media">
				<img class="s-columns__media-img"
					src="https://eep.io/images/yzco4xsimv0y/B5PJmk3pA3M4Z9fKnjRbR/58ac33fb7bf11f2aeb019effa7b4bdec/trailer-cover.jpg?w=760&q=95"
					alt>
			</figure>
		</div>
	</div>
</div>

<div class="s-banner">
	<div class="l-container">
		<div class="s-banner__wrapper">
			<div class="s-banner__content s-banner__content--width">
				<h2 class="el-title el-title--big">It’s easy to get started
				</h2>

				<p class="el-description el-description--center">
					You’ll be up and running in no time.
				</p>

				<div class="btn btn--center">
					<a href="#" class="btn-green">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="s-advertising">
	<div class="l-container">
		<div class="s-advertising__container">
			<h3 class="el-subsubtitle el-subsubtitle--align-left">
				Discover more about Mailchimp
			</h3>
		</div>
		<div class="c-publicity">
			<div class="c-publicity__block">
				<a href="#" class="c-publicity__link">
					<figure class="c-publicity__media">
						<img src="https://eep.io/images/yzco4xsimv0y/6almOnL3GcuC6tm7z7R5b5/52dc52d22c29804b291c5e0a66793041/Recirc-MktingPlatform.gif?w=540&q=95"
							alt="" class="c-publicity__media-img">
					</figure>
				</a>

				<div class="c-publicity__content">
					<h6 class="c-publicity__content-caption-small">

						Marketing Platform
					</h6>
					<h5 class="c-publicity__content-caption">
						Your business is growing. Now what?
					</h5>
					<p class="c-publicity__content-description">
						Get an all-in-one Marketing Platform that helps you reach your goals faster. That’s what.
					</p>

				</div>
			</div>

			<div class="c-publicity__block">
				<a href="#" class="c-publicity__link">
					<figure class="c-publicity__media">
						<img src="https://eep.io/images/yzco4xsimv0y/7apHUH3XJSYOMkuw2U6cyq/bb915b12317bce9858a2b448d77075a1/Recirc-Pricing.jpg?w=540&q=95"
							alt="" class="c-publicity__media-img">
					</figure>
				</a>

				<div class="c-publicity__content">
					<h6 class="c-publicity__content-caption-small">
						Pricing
					</h6>
					<h5 class="c-publicity__content-caption">
						Flexible plans that grow with you
					</h5>
					<p class="c-publicity__content-description">

						Needs change as businesses grow. We’ll help you market smarter from day one.
					</p>

				</div>
			</div>

			<div class="c-publicity__block">
				<a href="#" class="c-publicity__link">
					<figure class="c-publicity__media">
						<img  class="c-publicity__media-img"	 src="https://eep.io/images/yzco4xsimv0y/3eP8OgM8vC8uqQEgQeAi6A/f3733910413eb83a1b7a30c6da5d023b/thumbnails_mc-101_1520x855.jpg?w=540&q=95">
					</figure>
				</a>

				<div class="c-publicity__content">
					<h6 class="c-publicity__content-caption-small">


						Mailchimp 101
					</h6>
					<h5 class="c-publicity__content-caption">

						Mailchimp 101
					</h5>
					<p class="c-publicity__content-description">

						Get an intro to the basics so you know what to expect along the way.
					</p>

				</div>
			</div>

		</div>
	</div>

</div>

{{ }}{% endblock %}