{% extends "./layout/base.twig" %}
{% set pageName = 'index' %}

{% block body %}
	<div class="s-banner">
		<div class="l-container">
			<div class="s-banner__wrapper">
				<div class="s-banner__content">
					<h1 class="el-title">Your business is growing. Now what?
					</h1>

					<p class="el-description el-description--bigger">
						Get Mailchimp's all‑in‑one Marketing Platform to help you reach your goals faster. That's what.
					</p>

					<div class="btn">
						<a href="#" class="btn-green">Sign Up
						</a>
					</div>
				</div>

				<figure class="s-banner__media">
					<img src="https://eep.io/images/yzco4xsimv0y/6V49Ou8jRqVfBvUptsJlhG/cd6f19b41d269e2819545b6292677ba6/ILLO_Hero_All-In-One_1520x912.png?w=760&q=95" alt="A trumpet man and his band of cohorts. These people have spunk. No question about it" class="s-banner__media-img">
				</figure>
			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="c-content">
				<figure class="c-content__media c-content__media--big">
					<iframe class="c-content__media-video c-content__media-video--big" src="https://www.youtube.com/embed/_boGtscavzg" frameborder="0" autoplay loop muted playsinline></iframe>
				</figure>

				<div class="c-content__text c-content__text--widht">
					<h3 class="el-title-3">
						See how Mailchimp's all-in-one Marketing Platform helps you market smarter.
					</h3>
				</div>


			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="c-content c-content--center">
				<h2 class="el-title">
					Turn audience insights into personalized																																							marketing with a platform that gets																																				smarter over time.
				</h2>
			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="c-content">
				<figure class="c-content__media">
					<video class="c-content__media-video" data-behavior="autoplay" autoplay loop muted playsinline src="https://eep.io/videos/yzco4xsimv0y/3HXPcoeOCkcWon6ptXrvhf/cc7a54c6725ca02502cf7bbda90f6964/MktingPlatform-AbstractUI-audi-centered-Animation.mp4"></video>
				</figure>
				<div class="c-content__text">

					<h2 class="el-title">
						Start with your audience
					</h2>

					<p class=" el-description">
						The more you know about your people,
												the smarter you can be with your marketing.
												With all your audience data in one place,																				you can create the content they’ll enjoy most.
					</p>

					<ul class="c-content__list">
						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Marketing CRM
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Audience dashboard
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Tags
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Segmentation
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Address finder
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>


						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Personalization
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>


						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Predicted demographics
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>
					</ul>

					<div class="btn">
						<a href="#" class="btn-light">
							More audience tools
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="s-base">
		<div class="l-container">
			<div class="c-content c-content--center c-content--center--small">
				<h2 class="el-title">
					Just starting out? We’ll help you find your people.
				</h2>
				<p class=" el-description el-description--smaller">
					The more you know about your people,
																								the smarter you can be with your marketing.
																								With all your audience data in one place,
																								you can create the content they’ll enjoy most.
				</p>
			</div>
		</div>
	</div>


	<div class="s-grid">
		<div class="l-container">
			<div class="s-grid__wrapper">
				<div class="el-item">
					<figure class="el-item__media">
						<img class="el-item__media-img" src="https://eep.io/images/yzco4xsimv0y/6nLBubPObeh8Fqkj9CXLcL/fdd801586c7c674e592f5e9b9f4979f4/ILLO_MiniSpot_Signup-Forms_Simplified_800x800.png?w=160&amp;q=95" alt="">
					</figure>
					<h4 class="el-item__subheader">
						Signup Forms
					</h4>
					<p class="el-desciption el-description--smaller">
						Use hosted, embedded,
																																																																									or pop-up forms to get new contacts.
					</p>
					<a href="#" class="el-link">Learn more</a>
				</div>

				<div class="el-item">
					<figure class="el-item__media">
						<img class="el-item__media-img" src="https://eep.io/images/yzco4xsimv0y/2RLc9XBknkpu8d0TyNpkfZ/c2a0334690c2cd4809d7e08d044938d1/landing-pages_mini-640x640__1_.png?w=160&q=95" alt="">
					</figure>
					<h4 class="el-item__subheader">
						Landing Pages
					</h4>
					<p class="el-desciption el-description--smaller">

						Easily create pages that encourage signups and enable retargeting.
					</p>
					<a href="#" class="el-link">Learn more</a>
				</div>

				<div class="el-item">
					<figure class="el-item__media">
						<img class="el-item__media-img" src="https://eep.io/images/yzco4xsimv0y/z1Z275WGQUO0idXBmeqh1/80773f80fa712ab48217569f3a1054e8/ILLO_MiniSpot_OrganicSocialPosting_800.png?w=160&q=95" alt="">
					</figure>
					<h4 class="el-item__subheader">
						Social posts and ads
					</h4>
					<p class="el-desciption el-description--smaller">

						Find new fans and build your following with ads and posting.
					</p>
					<a href="#" class="el-link">Learn more</a>
				</div>

				<div class="el-item">
					<figure class="el-item__media">
						<img class="el-item__media-img" src="https://eep.io/images/yzco4xsimv0y/45CkotvaPOoXFJkWLD0Drs/f1538a49b3ef94de5ba6b09d0d6aab33/ILLO_MiniSpot_Lookalike-Audiences_Simplified_800x800.png?w=160&q=95" alt="">
					</figure>
					<h4 class="el-item__subheader">
						Lookalike audience finder
					</h4>
					<p class="el-desciption el-description--smaller">
						Reach new people who are sure to love you.
					</p>
					<a href="#" class="el-link">Learn more</a>
				</div>
			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="c-content c-content--reverse">
				<figure class="c-content__media   c-content__media--reverse">
					<video autoplay class="c-content__media-video c-content__media-video--reverse" data-behavior="autoplay" autoplay src="https://eep.io/videos/yzco4xsimv0y/6qPKNBETTrBibEt4h42B5C/23ce0c614189c4169613eefb765895f7/MktingPlatform-AbstractUI-Brand-related_features-Animation_4.mp4"></video>
				</figure>

				<div class="c-content__text">
					<h2 class="el-title">
						Build your brand
					</h2>
					<p class=" el-description">
						Look like the business you want to be with tools that help you show off your brand in the bes																												light wherever it lives online.
					</p>

					<ul class="c-content__list">
						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Domains
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Website builder
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Content studio
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Templates
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>
					</ul>
					<div class="btn">
						<a href="#" class="btn-light">
							All design tools
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="el-media">
				<iframe class="el-media__video" src="https://www.youtube.com/embed/RgL2Cso0_74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

			<div class="c-content">
				<div class="c-content__text c-content__text--big">
					<blockquote class="el-title-2">
						"With Mailchimp, we can see what messaging worked for email, what worked for ads, and very easily																																													apply those learnings because everything is in one place. It saves us time, it saves us resources,																																														and it’s intuitive."
					</blockquote>
					<p class=" el-description el-description--light">
						Carol Proschan, owner of Simply Gum
					</p>
					<div class="btn">
						<a href="#" class="btn-light">
							Learn how Simply Gum stays lean
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="c-content">
				<figure class="c-content__media">
					<video class="c-content__media-video" data-behavior="autoplay" autoplay src="https://eep.io/videos/yzco4xsimv0y/5sHaddA7lKmaSaisGcsKy6/12257ed679c3d6773fbaa5eb0eced530/UI_What-You-Can-Do_Storytelling-Crosslink_A_1080.mp4"></video>
				</figure>

				<div class="c-content__text">
					<h2 class="el-title">
						Create integrated campaigns that stand out
					</h2>

					<p class=" el-description">
						We make it easy to build, launch, and measure campaigns across channels. And with our Marketing																																				CRM guiding your targeting, you can be sure you’re sending the right message to the right people																																				at the right time.
					</p>

					<ul class="c-content__list">
						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Email
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Social media
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Landing pages
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Digital ads
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Postcards
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>


						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Automations
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>
					</ul>
					<div class="c-content__link">
						<a href="#" class="btn-light">
							Explore channels
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="c-content c-content--reverse">
				<figure class="c-content__media   c-content__media--reverse">
					<video class="c-content__media-video c-content__media-video--reverse" data-behavior="autoplay" data-behavior="autoplay" autoplay loop muted playsinline src="https://eep.io/videos/yzco4xsimv0y/1nPmHe0w74jpByPJXOXe6y/96f9a1be7012c8020e0b7ed2ca291764/MailchimpAnimationTest_MagnifyingGlass_V005_4.mp4"></video>
				</figure>

				<div class="c-content__text">
					<h2 class="el-title">
						Get smarter as you go
					</h2>
					<p class=" el-description">
						We analyze your audience engagement to help you market smarter with each campaign. Get help from																																						real-time reports, built-in analytics tools, and personalized recommendations on what to do																																			next.
					</p>
					<ul class="c-content__list">
						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Reports & analytics
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Smart recommendations
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								A/B testing
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>

						<li class="c-content__list-items">
							<a href="#" class="c-content__list-link">
								Integrations
								<span class="c-content__list-arrow" aria-label="link arrow"></span>
							</a>
						</li>
					</ul>
					<div class="btn">
						<a href="#" class="btn-light">
							More insights
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="s-base">
		<div class="l-container">
			<div class="c-content">	
				<figure class="c-content__media">
					<video class="c-content__media-video" data-behavior="autoplay" autoplay loop muted playsinline src="https://eep.io/videos/yzco4xsimv0y/1rZl2V1nPNft5fFTrkJFhq/d9ba23df02b66998c4697eefe1005334/MailchimpAnimationTest_Mobile_V002.mp4"></video>
				</figure>

				<div class="c-content__text">
					<h2 class="el-title">
						Connect everything you use
					</h2>

					<p class=" el-description">
						Mailchimp is even more powerful when combined with the other apps and tools you use. Connect all
																																																																																the data pieces to unlock more features and get more sophisticated insights.
					</p>

					<ul class="c-content__icons">
						<li class="c-content__icons-item">
							<a href="#" class="c-content__icons-link">
								<figure class="c-content__icons-media">
									<img class="c-content__icons-img" src="https://eep.io/images/yzco4xsimv0y/10mMY93Tr66y2eIEiMy6oc/838f04883472170b755dee89d829af3f/thumbnail_logo_eventbrite.jpg?w=50&q=95" alt="">
								</figure>
							</a>
						</li>

						<li class="c-content__icons-item">
							<a href="#" class="c-content__icons-link">
								<figure class="c-content__icons-media">
									<img class="c-content__icons-img" src="https://eep.io/images/yzco4xsimv0y/2EMo4C62mAysUEo4msmeUC/5eb8b370591767c1325094ce7f7544eb/Logo_Salesforce_220x220.png?w=50&q=95" alt="">
								</figure>
							</a>
						</li>

						<li class="c-content__icons-item">
							<a href="#" class="c-content__icons-link">
								<figure class="c-content__icons-media">
									<img class="c-content__icons-img" src="https://eep.io/images/yzco4xsimv0y/2f4E0JXX0kKWgAUI0YG2YM/99db3ff1eaf56780685b2828f9a60298/bigcommerce.png?w=50&q=95" alt="">
								</figure>
							</a>
						</li>

						<li class="c-content__icons-item">
							<a href="#" class="c-content__icons-link">
								<figure class="c-content__icons-media">
									<img class="c-content__icons-img" src="https://eep.io/images/yzco4xsimv0y/4NsjY3A7jyicaCimMkgEUG/69c0f9333edc43d15ee9596279079cbf/Square_Logo_black.png?w=50&q=95" alt="">
								</figure>
							</a>
						</li>

						<li class="c-content__icons-item">
							<a href="#" class="c-content__icons-link">
								<figure class="c-content__icons-media">
									<img class="c-content__icons-img" src="https://eep.io/images/yzco4xsimv0y/449tDVid5m6gi4m2IkEamY/60f85acfd1f47855ed500455a7219bc0/woo.png?w=50&q=95" alt="">
								</figure>
							</a>
						</li>
					</ul>
					<div class="btn">
						<a href="#" class="btn-light">
							See all integrations
						</a>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="s-banner s-banner--border">
		<div class="l-container">
			<div class="s-banner__wrapper s-banner__wrapper--padding">
				<div class="s-banner__content s-banner__content--width">
					<h2 class="el-title el-title--big">Ready to grow your business?
					</h2>

					<p class="el-description el-description--center">
						Mailchimp’s all-in-one Marketing Platform will
																																																																									help you be yourself on a bigger stage.
					</p>

					<div class="btn btn--center">
						<a href="#" class="btn-green">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ }}
{% endblock %}
