{% extends "./layout/base.twig" %}
{% set pageName = 'index' %}

{% block body %}
<div class="s-banner">
	<button class="s-banner__hidden js-menu-btn"></button>
	<div class="s-banner__wrapper">
		<div class="s-banner__content">
			<div class="c-content">
				<h1 class="c-content__headline">Your business is growing. Now what?
				</h1>

				<p class="c-content__description">
					Get Mailchimp's all‑in‑one Marketing Platform to help you reach your goals faster. That's what.
				</p>

				<a href="#" class="c-content__link">Sign Up
				</a>


			</div>
        </div>
        
		<img src="https://eep.io/images/yzco4xsimv0y/6V49Ou8jRqVfBvUptsJlhG/cd6f19b41d269e2819545b6292677ba6/ILLO_Hero_All-In-One_1520x912.png?w=760&q=95"
			alt="A trumpet man and his band of cohorts. These people have spunk. No question about it"
			class="s-banner__media">
	</div>
</div>

{{ }}{% endblock %}
