{% extends "./layout/base.twig" %}
{% set pageName = 'index' %}

{% block body %}
<div class="s-banner">
	<button class="s-banner__hidden js-menu-btn"></button>
	<div class="s-banner__wrapper">
		<div class="s-banner__content">
			<div class="c-content">
				<h1 class="c-content__headline">Your business is growing. Now what?
				</h1>

				<p class="c-content__description">
					Get Mailchimp's all‑in‑one Marketing Platform to help you reach your goals faster. That's what.
				</p>

				<a href="#" class="c-content__link">Sign Up
				</a>


			</div>
        </div>
        
		<img src="https://eep.io/images/yzco4xsimv0y/6V49Ou8jRqVfBvUptsJlhG/cd6f19b41d269e2819545b6292677ba6/ILLO_Hero_All-In-One_1520x912.png?w=760&q=95"
			alt="A trumpet man and his band of cohorts. These people have spunk. No question about it"
			class="s-banner__media">
	</div>
</div>

As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.

As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.

As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.
As you know, our group has two English lessons a week: on Tuesday and Friday. When the teacher comes and opens the door, we come in and sit down. Then we open our bags and take our exercise-books and Bonk's text-books.

And soon the lesson begins... We usually start it by pronouncing different words and sounds. Then we are usually invited to the blackboard by the teacher and Oksana Victorovna asks us the words we were to teach by heart. After that we usually do some exercises from the text-book. These exercises teach us to ask questions, or how to make negative sentences and so on. Then, using tests in our exercise-books, we usually write spelling, two tests and a quiz. During the lesson we speak mostly English, but sometimes, when the students don't understand the teacher or the task in the text-book, we start speaking Russian.

What I like best of all in our English lessons is the merry, friendly atmosphere in the class. The funny joke are always greeted.

To the end of the lesson the teacher always gives us a huge homework. It usually consists of learning new words or a text by heart and making several exercises in a writing form. Then we all say good-bye to our teacher and begin preparing to the new lesson.

Here I want to end my small composition about the English lessons in the university, where I study. And I want to say you that all English lessons are among the most interesting and the most exciting lessons; that's why I like them very much.


{{ }}{% endblock %}
