{% extends "./layout/base.twig" %}
{% set pageName = 'page' %}

{% block body %}
<div class="s-banner s-banner--image">
	<div class="l-container">
		<div class="s-banner__wrapper">
			<div class="s-banner__content">
				<h1 class="el-title el-title--big">
                    Everything you need, in one place                
				</h1>

				<p class="el-description el-description--bigger">
					We know what it’s like to start small with big ideas.
					That’s why we support millions of customers across every
					stage of their own business journeys.
				</p>

				<div class="btn">
					<a href="#" class="btn-green">Pick A Plan
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

{{ }}{% endblock %}